<ul class='navbar'>
  <li><%= link_to 'Home', root_url %></li>
  <li><%= link_to 'Team List', teams_url %></li>
  <li><%= link_to 'Create New Player', new_player_url %></li>
  <li><%= link_to 'Contact us', '#' %></li>
</ul>